*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {

    background-color: #1A2122;
    
}
main  h1{
    color: white;
}
.search__container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  background-color: #111112;
    /* width: 50px;
    height: 50px;
    background-color: rgb(34, 34, 54);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;
    padding-top: 10px; */

}

.search__form {
    width: 50%;

}
.search{
    width:100%;
    padding: 0.5rem;

}
#filterBellow30,
#filterOver30{
    padding: 0.5rem;
    cursor: pointer;
}
h1{
    margin-block: 2rem;
    text-align: center;
}
/*Por que o widht 100% passa da tela?*/
.clients__list {
    
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: clamp(300px, 80vw, 1200px);
    justify-content: center;
    gap: 2rem;
    margin-inline: auto ;
}

/* Por que quando eu mudo o heigth o texto não se adapta à box?*/
.clients__card {
    list-style: none;
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    border-radius: 1rem;
    width: 250px;
    gap: 1rem;
    padding: 1rem;     
    color: white;
    background-color: #293c3e;

}